@model crudapp.Models.Furniture

@{
    ViewBag.Title = "Create Furniture";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Your layout file
}

<h2>Create Furniture</h2>

@using (Html.BeginForm("Create", "Furniture", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Product)
        @Html.TextBoxFor(model => model.Product)
    </div>
    <div>
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)
    </div>
    <div>
        @Html.LabelFor(model => model.Material)
        @Html.TextBoxFor(model => model.Material)
    </div>
    <div>
        @Html.LabelFor(model => model.Cost)
        @Html.TextBoxFor(model => model.Cost)
    </div>
    <input type="submit" value="Create" />
}
