@model crudapp.Models.Furniture

@{
    ViewBag.Title = "Delete Furniture";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Your layout file
}

<h2>Delete Furniture</h2>

<div>
    <h4>Are you sure you want to delete this item?</h4>
    <div>
        <h4>@Model.product</h4>
        <p>@Model.description</p>
        <p>@Model.material</p>
        <p>@Model.cost</p>
    </div>
    @using (Html.BeginForm("Delete", "Furniture", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.id) <!-- Assuming Id is used to identify the furniture -->
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
</div>
