@model crudapp.Models.Furniture

@{
    ViewBag.Title = "Update Furniture";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Your layout file
}

<h2>Update Furniture</h2>

@using (Html.BeginForm("Update", "Furniture", FormMethod.Post))
{
    @Html.HiddenFor(model => model.id) <!-- Assuming Id is used to identify the furniture -->

    <div>
        @Html.LabelFor(model => model.product)
        @Html.TextBoxFor(model => model.product)
    </div>
    <div>
        @Html.LabelFor(model => model.description)
        @Html.TextBoxFor(model => model.description)
    </div>
    <div>
        @Html.LabelFor(model => model.material)
        @Html.TextBoxFor(model => model.material)
    </div>
    <div>
        @Html.LabelFor(model => model.cost)
        @Html.TextBoxFor(model => model.cost)
    </div>
    <input type="submit" value="Update" />
}
